{% extends 'index.html' %}
{% load static %}


{% block content %}
    <div class="container my-2 p-3  d-flex  justify-content-center">
        <div class="bg-light container-custom d-flex flex-column p-5">
            
        <p class="fs-2 fw-bold text-body-secondary d-flex justify-content-center">Generate your strong password</p>



            <form action="{% url 'passgenerator' %}" method="post">
                {% csrf_token %}
        
                <div class="d-flex justify-content-between">
                    <label for="pg" class="form-label">Characters</label>
                    <input type="range" class="form-range" min="0" max="100" value="50" id="pg" name="charnum" style="width: 60% !important;">
                    <output for="pg" id="rangeValue" aria-hidden="true"></output>
                </div>

                <div class="d-flex justify-content-start">
                    <div class="form-check form-switch me-3">
                        <label class="form-check-label" for="switchCheckDefault">Numbers</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" name="numyes" value="true">
                    </div>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="switchCheckDefault2">Symbols</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault2" name="symyes" value="true">
                    </div>
                </div>

                <button type="submit" class="ms-auto d-flex  btn btn-success">Generate</button>
            </form>

            <div class="my-3">
                <label for="copypass" class="form-label">Password</label>
                <textarea class="form-control" id="copypass" rows="3"  readonly style="resize: none;">{{pass}}</textarea>
                                
                {% if pass %}
    
                    <div class="col-md-12 my-3">
                        <button class="btn btn-primary fs-6 fw-bold" type="button" id="copybutton" data-pass="{{pass}}" >Copy Password</button>
                    </div>
                    
                    <div class="alert alert-success d-none align-items-center alert-custom" role="alert" id="success-alert">
                        <i class="bi bi-check-circle-fill"></i>
                        <div id="alerttext"></div>
                    </div>
                {% endif %}
            </div> 
        </div>
    </div>


<script>
  // This is an example script, please modify as needed
  const rangeInput = document.getElementById('pg');
  const rangeOutput = document.getElementById('rangeValue');

  // Set initial value
  rangeOutput.textContent = rangeInput.value;

  rangeInput.addEventListener('input', function() {
    rangeOutput.textContent = this.value;
  });
</script>

<script src="{% static 'js/main2.js' %}"></script>
{% endblock %}